<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
                    <a href="catalog">
                        <img ng-src="{{user.Company.LogoUrl}}" />
                    </a>
                    <!--<span>{{user.Company.Name}}</span>-->
                </h2>
            </div>
            <div class="col-md-4 text-center">
                <h2>Awards & Recognition</h2>
            </div>
            <div class="col-md-4 text-right">
                <img ng-src="{{'https://brucefox.four51ordercloud.com/LLS/css/images/recognition.jpg'}}" style="max-height: 75px; float: right" />
            </div>
        </div>
        <div class="row">
            <homemessage />
        </div>
            
    </div>
</section>
